In [1]:
import pandas as pd

import os

# Cargamos la data para 2022

In [2]:
educa2022 = pd.read_csv('educa2022.csv', encoding='latin-1')

C:\Users\maria\AppData\Local\Temp\ipykernel_13264\3103912219.py:1: DtypeWarning: Columns (12,13,26,32,60) have mixed types. Specify dtype option on import or set low_memory=False.
  educa2022 = pd.read_csv('educa2022.csv', encoding='latin-1')

In [3]:
empleo2022 = pd.read_csv('empleo2022.csv', encoding='latin-1')

C:\Users\maria\AppData\Local\Temp\ipykernel_13264\919979559.py:1: DtypeWarning: Columns (226,231,236,244,249,254,259,264,269,274,279,284,289,294,299,304,309,314,319,324,329,334,339,344,356,368,371,374,377,380,383,386,389,393,395,397,399,401,403,405,407,409,413,414,415,416,417,421,512,513,514,515,962,963,964,965,966,967,968,969,970,971,1042,1045,1050) have mixed types. Specify dtype option on import or set low_memory=False.
  empleo2022 = pd.read_csv('empleo2022.csv', encoding='latin-1')

In [4]:
goberna2022a = pd.read_csv('goberna2022a.csv', encoding='latin-1')

C:\Users\maria\AppData\Local\Temp\ipykernel_13264\189921238.py:1: DtypeWarning: Columns (324,325) have mixed types. Specify dtype option on import or set low_memory=False.
  goberna2022a = pd.read_csv('goberna2022a.csv', encoding='latin-1')

In [5]:
salud2022 = pd.read_csv('salud2022.csv', encoding='latin-1')

C:\Users\maria\AppData\Local\Temp\ipykernel_13264\3938781393.py:1: DtypeWarning: Columns (12,13,14,15,32,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,79,81,123,125,127,128,129,130,131,132,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,579,580,581,582,583,584,585,586,595,599,604,605) have mixed types. Specify dtype option on import or set low_memory=False.
  salud2022 = pd.read_csv('salud2022.csv', encoding='latin-1')

In [37]:
vivienda2022 = pd.read_csv('vivienda2022.csv', encoding='latin-1')

# Exploramos la data

In [7]:
# para educa
educa2022.head()

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I311D$5,I311D$6,I311D$7,I3121C,I3122C,I315B,FACTOR07,FACTORA07,NCONGLOME,SUB_CONGLOME
0,2022,1,5030,8,11,1,10201,7,4,1,...,,,,,,,106.890244,64.477516,6618,0
1,2022,1,5030,8,11,2,10201,7,4,2,...,,,,,,,106.890244,81.375023,6618,0
2,2022,1,5030,17,11,1,10201,7,4,1,...,,,,,,,106.890244,81.375023,6618,0
3,2022,1,5030,17,11,2,10201,7,4,2,...,,,,,,,106.890244,114.111549,6618,0
4,2022,1,5030,33,11,1,10201,7,4,1,...,,,,,,,106.890244,88.011795,6618,0

In [8]:
# para empleo
empleo2022.head()

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I538E1,I5294B,I5404B,I541A,OCU500,OCUPINF,EMPLPSEC,FAC500A,NCONGLOME,SUB_CONGLOME
0,2022,2,5007,3,11,1,10101,4,4,1,...,,,,,1,2,,48.341564,7070,0
1,2022,2,5007,12,11,1,10101,4,4,1,...,,2270,,618,1,1,2,46.851582,7070,0
2,2022,2,5007,22,11,1,10101,4,4,1,...,,,,,1,2,,50.011681,7070,0
3,2022,2,5007,22,11,2,10101,4,4,2,...,,,,,1,2,,26.674692,7070,0
4,2022,2,5007,22,11,3,10101,4,4,3,...,,,,,1,1,1,124.382034,7070,0

In [9]:
# para goberna
goberna2022a.head()

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,CODINFOR,UBIGEO,DOMINIO,ESTRATO,...,P205_01,P206_01,P207_01,P208_01,P209_01,P301_01,TICUEST01B,FAMIEGOB07,NCONGLOME,SUB_CONGLOME
0,2022,1,5030,8,11,1,1,10201,7,4,...,2,,1,85,2,4,2,225.854958862138,6618,0
1,2022,1,5030,17,11,2,2,10201,7,4,...,2,,1,55,5,8,2,183.319431090435,6618,0
2,2022,1,5030,33,11,2,2,10201,7,4,...,2,,2,70,3,8,2,300.817810930778,6618,0
3,2022,1,5030,50,11,1,1,10201,7,4,...,2,,1,71,2,4,2,300.817810930778,6618,0
4,2022,1,5030,59,11,7,7,10201,7,4,...,2,,2,40,5,8,2,735.139798827454,6618,0

In [10]:
#para salud
salud2022.head()

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I41810,I41811,I41812,I41813,I41814,I41815,I41816,FACTOR07,NCONGLOME,SUB_CONGLOME
0,2022,1,5030,8,11,1,10201,7,4,1,...,,,104,,,,,106.890244,6618,0
1,2022,1,5030,8,11,2,10201,7,4,2,...,,,62,,,,,106.890244,6618,0
2,2022,1,5030,17,11,1,10201,7,4,1,...,,,,,,,,106.890244,6618,0
3,2022,1,5030,17,11,2,10201,7,4,2,...,,,,,,,,106.890244,6618,0
4,2022,1,5030,33,11,1,10201,7,4,1,...,,,166,,,,,106.890244,6618,0

In [38]:
#para vivienda
vivienda2022.head()

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,PERIODO,TIPENC,...,NBI4,NBI5,FACTOR07,NCONGLOME,SUB_CONGLOME,CODCCPP,NOMCCPP,LONGITUD,LATITUD,ALTITUD
0,2022,2,5007,3,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
1,2022,2,5007,12,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
2,2022,2,5007,22,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
3,2022,2,5007,31,11,10101,4,4,1,3,...,,,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
4,2022,2,5007,50,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0

# Limpiamos la data

## educa

In [12]:
# Mantener solo las columnas necesarias y renombrar la variable P301A a edu
educa2022Q = educa2022[['AÑO', 'UBIGEO', 'P301A']]

# Mostrar las primeras filas del DataFrame modificado
print(educa2022Q.head())

    AÑO  UBIGEO P301A
0  2022   10201     4
1  2022   10201     6
2  2022   10201     1
3  2022   10201     8
4  2022   10201     7

In [13]:
educa2022Q['edu'] = educa2022Q['P301A'].replace({
    1: 1,  # Sin nivel
    2: 2, 3: 2, 4: 2, 12: 2,  # Básica
    5: 3, 6: 3,  # Intermedia
    7: 4, 8: 4, 9: 4, 10: 4, 11: 4,  # Superior
    99: None  # Missing value
})

educa2022Q = educa2022Q.drop(columns=['P301A'])

C:\Users\maria\AppData\Local\Temp\ipykernel_13264\3927228018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  educa2022Q['edu'] = educa2022Q['P301A'].replace({

## empleo

In [14]:
# Mantener solo las columnas necesarias
empleo2022Q = empleo2022[['AÑO', 'UBIGEO', 'P524A1']].rename(columns={'P524A': 'ingresos'})

# Mostrar las primeras filas del DataFrame modificado
print(empleo2022Q.head())

    AÑO  UBIGEO P524A1
0  2022   10101   5000
1  2022   10101    800
2  2022   10101   1660
3  2022   10101   2300
4  2022   10101

## gobernanza

In [15]:
# Mantener solo las columnas necesarias
goberna2022aQ = goberna2022a[['AÑO', 'UBIGEO', 'P1$01', 'P1$02', 'P1$03', 'P1$12', 'P1$11', 'P1$09', 'P1$08', 'P3', 'P7']]

# Mostrar las primeras filas del DataFrame modificado
print(goberna2022aQ.head())

    AÑO  UBIGEO  P1$01 P1$02 P1$03 P1$12 P1$11 P1$09 P1$08 P3 P7
0  2022   10201      1     1     2     1     1     2     2  2  2
1  2022   10201      2     2     3     2     2     2     2  2  3
2  2022   10201      2     2     2     1     2     2     2  2  3
3  2022   10201      2     2     3     2     2     2     2  2  3
4  2022   10201      2     2     3     1     1     1     1  1  3

In [50]:
import pandas as pd
import numpy as np

# Asegurarse de que las columnas sean numéricas
columnas_confianza = ['P1$01', 'P1$02', 'P1$03']
goberna2022aQ[columnas_confianza] = goberna2022aQ[columnas_confianza].apply(pd.to_numeric, errors='coerce')

# Revisar los valores únicos para verificar problemas
for col in columnas_confianza:
    print(f"Valores únicos en {col}: {goberna2022aQ[col].unique()}")

# Sumar las columnas relacionadas con confianza electoral
goberna2022aQ['confianza_suma'] = goberna2022aQ[columnas_confianza].sum(axis=1, skipna=True)

# Ajustar el índice de confianza
min_confianza = goberna2022aQ['confianza_suma'].min()
goberna2022aQ['confianza_ajustada'] = goberna2022aQ['confianza_suma'] - min_confianza
max_confianza = goberna2022aQ['confianza_ajustada'].max()

# Crear el índice de confianza normalizado a 100
goberna2022aQ['indice_electoral'] = (goberna2022aQ['confianza_ajustada'] / max_confianza) * 100

# Verificar los resultados
print(goberna2022aQ[['confianza_suma', 'indice_electoral']].head())

Valores únicos en P1$01: [ 1.  2.  3. nan  4.]
Valores únicos en P1$02: [ 1.  2.  3.  5. nan  4.]
Valores únicos en P1$03: [ 2.  3.  4.  1. nan  5.]
   confianza_suma  indice_electoral
0             4.0         28.571429
1             7.0         50.000000
2             6.0         42.857143
3             7.0         50.000000
4             7.0         50.000000

C:\Users\maria\AppData\Local\Temp\ipykernel_13264\1557165263.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goberna2022aQ[columnas_confianza] = goberna2022aQ[columnas_confianza].apply(pd.to_numeric, errors='coerce')
C:\Users\maria\AppData\Local\Temp\ipykernel_13264\1557165263.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goberna2022aQ['confianza_suma'] = goberna2022aQ[columnas_confianza].sum(axis=1, skipna=True)
C:\Users\maria\AppData\Local\Temp\ipykernel_13264\1557165263.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goberna2022aQ['confianza_ajustada'] = goberna2022aQ['confianza_suma'] - min_confianza
C:\Users\maria\AppData\Local\Temp\ipykernel_13264\1557165263.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goberna2022aQ['indice_electoral'] = (goberna2022aQ['confianza_ajustada'] / max_confianza) * 100

In [52]:
#Sabe qué es democracia? (conocimiento democrático)

goberna2022aQ['P3'] = goberna2022aQ['P3'].replace({2: 0}) 


#En el Perú la democracia funciona (P7)

goberna2022aQ['P7'] = goberna2022aQ['P7'].replace({5: np.nan})

C:\Users\maria\AppData\Local\Temp\ipykernel_13264\1057331032.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goberna2022aQ['P3'] = goberna2022aQ['P3'].replace({2: 0})
C:\Users\maria\AppData\Local\Temp\ipykernel_13264\1057331032.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goberna2022aQ['P7'] = goberna2022aQ['P7'].replace({5: np.nan})

In [54]:
goberna2022aQ.head()

,AÑO,UBIGEO,P1$01,P1$02,P1$03,P1$12,P1$11,P1$09,P1$08,P3,P7,confianza_suma,confianza_ajustada,indice_electoral
0,2022,10201,1.0,1.0,2.0,1,1,2,2,2,2,4.0,4.0,28.571429
1,2022,10201,2.0,2.0,3.0,2,2,2,2,2,3,7.0,7.0,50.000000
2,2022,10201,2.0,2.0,2.0,1,2,2,2,2,3,6.0,6.0,42.857143
3,2022,10201,2.0,2.0,3.0,2,2,2,2,2,3,7.0,7.0,50.000000
4,2022,10201,2.0,2.0,3.0,1,1,1,1,1,3,7.0,7.0,50.000000

## Salud

In [16]:
# Mantener solo las columnas necesarias
salud2022Q = salud2022[['AÑO', 'UBIGEO', 'P401C', 'P401H1', 'P401H2', 'P401H3', 'P401H4', 'P401H5', 'P401H6']]

# Mostrar las primeras filas del DataFrame modificado
print(salud2022Q.head())

    AÑO  UBIGEO P401C P401H1 P401H2 P401H3 P401H4 P401H5 P401H6
0  2022   10201     1      1      1      2      2      1      2
1  2022   10201     1      1      2      2      2      1      2
2  2022   10201     1      1      1      2      1      2      2
3  2022   10201     1      2      2      2      2      2      2
4  2022   10201     1      2      2      2      2      2      2

In [17]:
# Asegurarse de que las columnas sean numéricas
cols_to_sum = ['P401H1', 'P401H2', 'P401H3', 'P401H4', 'P401H5', 'P401H6']
salud2022Q[cols_to_sum] = salud2022Q[cols_to_sum].apply(pd.to_numeric, errors='coerce')

# Sumar todas las variables para cada fila
salud2022Q['Indice_Limitaciones_Raw'] = salud2022Q[cols_to_sum].sum(axis=1)

# Normalizar el índice sobre 100, con un máximo teórico de 12
salud2022Q['Indice_Limitaciones'] = (salud2022Q['Indice_Limitaciones_Raw'] / 12) * 100

# Calcular el valor mínimo y máximo del índice
min_val = salud2022Q['Indice_Limitaciones'].min()
max_val = salud2022Q['Indice_Limitaciones'].max()

# Imprimir los resultados
print(f"Valor mínimo del índice: {min_val}")
print(f"Valor máximo del índice: {max_val}")

# Mostrar las primeras filas para verificar
print(salud2022Q[['Indice_Limitaciones_Raw', 'Indice_Limitaciones']].head())

Valor mínimo del índice: 0.0
Valor máximo del índice: 100.0
   Indice_Limitaciones_Raw  Indice_Limitaciones
0                      9.0            75.000000
1                     10.0            83.333333
2                      9.0            75.000000
3                     12.0           100.000000
4                     12.0           100.000000

C:\Users\maria\AppData\Local\Temp\ipykernel_13264\3258417348.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salud2022Q[cols_to_sum] = salud2022Q[cols_to_sum].apply(pd.to_numeric, errors='coerce')
C:\Users\maria\AppData\Local\Temp\ipykernel_13264\3258417348.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salud2022Q['Indice_Limitaciones_Raw'] = salud2022Q[cols_to_sum].sum(axis=1)
C:\Users\maria\AppData\Local\Temp\ipykernel_13264\3258417348.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salud2022Q['Indice_Limitaciones'] = (salud2022Q['Indice_Limitaciones_Raw'] / 12) * 100

In [18]:
print(salud2022Q.head())

    AÑO  UBIGEO P401C  P401H1  P401H2  P401H3  P401H4  P401H5  P401H6  \
0  2022   10201     1     1.0     1.0     2.0     2.0     1.0     2.0
1  2022   10201     1     1.0     2.0     2.0     2.0     1.0     2.0
2  2022   10201     1     1.0     1.0     2.0     1.0     2.0     2.0
3  2022   10201     1     2.0     2.0     2.0     2.0     2.0     2.0
4  2022   10201     1     2.0     2.0     2.0     2.0     2.0     2.0

   Indice_Limitaciones_Raw  Indice_Limitaciones
0                      9.0            75.000000
1                     10.0            83.333333
2                      9.0            75.000000
3                     12.0           100.000000
4                     12.0           100.000000

In [19]:
salud2022Q=salud2022Q.drop(columns=['P401H1','P401H2','P401H3','P401H4','P401H5','P401H6','Indice_Limitaciones_Raw'])

## Vivienda

In [39]:
# Mantener solo las columnas necesarias
vivienda2022Q = vivienda2022[['AÑO', 'UBIGEO', 'P110A1',  'P111A', 'P1121']]

# Mostrar las primeras filas del DataFrame modificado
print(vivienda2022Q.head())

    AÑO  UBIGEO P110A1 P111A P1121
0  2022   10101      1     1     1
1  2022   10101      1     2     1
2  2022   10101      1     1     1
3  2022   10101
4  2022   10101      1     1     1

In [ ]:
# Recodificar la variable P110A1: 1 -> 1 (sí), 2 -> 0 (no)
vivienda2022Q['P110A1'] = vivienda2022Q['P110A1'].replace({1: 1, 2: 0})

# Verificar los cambios
print(vivienda2022Q[['P110A1']].head())

In [40]:
# Convertir la columna a valores numéricos
vivienda2022Q['P111A'] = pd.to_numeric(vivienda2022Q['P111A'], errors='coerce')

# Recodificar los valores para saneamiento
vivienda2022Q['saneamiento'] = vivienda2022Q['P111A'].replace({
    1: 1, 2: 1,  # Tiene saneamiento
    3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0  # No tiene saneamiento
})

# Eliminar la columna original si ya no es necesaria
vivienda2022Q = vivienda2022Q.drop(columns=['P111A'])

C:\Users\maria\AppData\Local\Temp\ipykernel_13264\2474734332.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vivienda2022Q['P111A'] = pd.to_numeric(vivienda2022Q['P111A'], errors='coerce')
C:\Users\maria\AppData\Local\Temp\ipykernel_13264\2474734332.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vivienda2022Q['saneamiento'] = vivienda2022Q['P111A'].replace({

In [41]:
print(vivienda2022Q['saneamiento'].unique())

[ 1. nan  0.]

In [42]:
# Asegurarse de que las columnas sean numéricas
cols_to_sum = ['P110A1', 'saneamiento', 'P1121']
vivienda2022Q[cols_to_sum] = vivienda2022Q[cols_to_sum].apply(pd.to_numeric, errors='coerce')

# Sumar las columnas fila por fila para obtener el índice
vivienda2022Q['indice'] = vivienda2022Q[cols_to_sum].sum(axis=1)

# Calcular el mínimo y máximo del índice
min_val = vivienda2022Q['indice'].min()
max_val = vivienda2022Q['indice'].max()

# Normalizar el índice a un rango de 0 a 100
vivienda2022Q['indice_normalizado'] = ((vivienda2022Q['indice'] - min_val) / (max_val - min_val)) * 100

# Mostrar estadísticas y verificar los resultados
print(f"Mínimo: {min_val}, Máximo: {max_val}")
print(vivienda2022Q[['indice', 'indice_normalizado']].head())

Mínimo: 0.0, Máximo: 4.0
   indice  indice_normalizado
0     3.0                75.0
1     3.0                75.0
2     3.0                75.0
3     0.0                 0.0
4     3.0                75.0

In [ ]:
#nos quedamos con el indicenormalizadod e servicios 
vivienda2022Q=vivienda2022Q.drop(columns=['P110A1', 'saneamiento', 'P1121', 'indice'])

# Juntamos en una sola base de datos

In [ ]:
# Sumar las variables para cada fila
salud2022['Indice_Limitaciones'] = salud2022[['P401H1', 'P401H2', 'P401H3', 'P401H4', 'P401H5', 'P401H6']].sum(axis=1)